@charset "UFT-8";

#principal{
    background-color: black;
    border-radius: 20px;
    font-family: monospace;
}


body{
    background-image: linear-gradient(to right, violet,blue);
}

body{
    padding: 10px;
    margin: auto;
    width: max-content;
    border-radius: 20px; 
}

main{
    background-color: white;
    width: max-content;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 15px 10px rgba(34, 32, 32, 0.842);
}

img:hover{
    
    background-color: #1e7eb9;
}

p{
    width: max-content;
    padding: 20px;
    background-color: white;
     border-radius: 8%;
     border-style: double;
     color: black;
     box-shadow: 7px 7px 8px #1d1c1ca1;
     margin: auto;   
}

#principal > a:hover{
    background-color: #7694ccec;
    border-radius: 4px;
}

button{
    border-radius: 100px;
    background-color: lightskyblue;
}
