@charsetUFT "UFT-8";

#principal{
    background-color: black;
    border-radius: 20px;
    font-family: monospace;
}


body{
    background-image: linear-gradient(to right, violet,blue);
}

body{
    padding: 10px;
    margin: auto;
    width: max-content;
    border-radius: 20px; 
}

main{
    background-color: white;
    width: max-content;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 15px 10px rgba(34, 32, 32, 0.842);
}

img:hover{
    background-color: black;
    background-color: lightskyblue;
}

p{
    width: max-content;
    padding: 20px;
    background-color: white;
     border-radius: 8%;
     border-style: double;
     color: black;
     box-shadow: 7px 7px 8px rgba(29, 28, 28, 0.63);
     margin: auto;   
}

#principal > a:hover{
    background-color: rgba(118, 148, 204, 0.925);
    border-radius: 4px;
}